.center-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-title {
    text-align: center;
    background-color: silver;
    color: white;
}
.back-grey {
    background-color: #2f4f4f;
    color: white;
}
.back-lighter {
    background-color: #708090;
    color: white;
}
p {
    background-color: whitesmoke;
}
h3 {
    background-color: #2a3439;
    color: white;
}